

.color-primary-0 {background-color: #5995A7 }	/* TURQUOISE */
.color-primary-1 { background-color: #4B8591 } /* TURQUOISE SHADOWS */
.color-primary-2 { background-color: #A8CEE4 } /* LIGHT BLUE */
.color-primary-3 { background-color: #E0C751 } /* YELLOW */
.color-primary-4 { color: #F4FBFE } /* WHITE */

/* Eugene's code */

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  margin-bottom: 0;
  width: 20%;
}

h1,h2,h3,h4,h5,p,a{
    margin: 0;
    padding: 0;
}


h1{
    color: #F4FBFE;
    font-family: 'Catamaran', sans-serif;
    font-size: 100px;
    text-align: center;

}

h2{
    color: #E0C751;
    font-family: 'Catamaran', sans-serif;
    font-size: 19px;
    text-align: center;
}

h3{
    color: black;
    font-family: 'Fira Sans', sans-serif;
    font-size: 24px;
    text-align: center;
}

h3{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
}

h4{
    color: black;
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    text-align: center;
}

p {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
}

nav a{
    color: #F4FBFE;
    text-decoration: none;
}

nav a:active{
    color:#E0C751;
    text-decoration: none;
}

nav a:hover{
    color: #E0C751;
    text-decoration: none;
}

.nav-container{
    position:absolute;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;

}

.nav-container nav{
    position: fixed;
    width: 400px;
    display: flex;
    justify-content: space-around;
}

.section:nth-child(1) .fp-tableCell img{
    vertical-align: bottom;
}

.about-container{
    width: 600px;
    margin: 0 auto;

}

.section:nth-child(2) p{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
}

.services-container{
    display: flex;
    width: 800px;
    flex-wrap: wrap;
    flex-direction:row;
    margin: 0 auto;
}

.service{
    flex: 0 0 33%;
}

.section:nth-child(3) p{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .about-container{
        width: 400px;
    }
    .services-container{
        width: 570px;
    }
    .service h4{
        font-size: 20px;
    }
    .section:nth-child(3) p{
        font-size: 11px;
    }
}

@media only screen and (max-width: 600px) {
    .about-container{
        width: 200px;
    }
    .services-container{
        width: 300px;
    }
    .service h4{
        font-size: 18px;
    }
    .section:nth-child(3) p{
        font-size: 11px;
    }
}
